*{
    margin: 0;
    padding: 0;
}
nav{
    background: black;
    height: 80px;
}
nav ul{
    float: right;
}
nav ul li{
    margin: 25px 20px;
    display: inline-block;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 3px 5px;
    color: white;
    font-size: 20px;
}
a:hover{
    border-radius: 10px;
    background: rgb(105, 103, 103);
}
label.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding-left: 50px;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all.5s;
    }
    nav ul li {
        display: block;
    }
    nav ul li a{
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 441px){
    label.logo{
        font-size: 18px;
    }
}